div{
    border: 2px solid red;
    border-radius: 50%;
    background-color: lightblue;
    width: 500px;
    height: 500px;
}

div p{
    background-color: transparent;
    color: black;
    text-align: center;
    font-weight: bold;

}