body{
    background-color:  palevioletred;
}

section{
    width: 500px;
    height: 400px;
    background-color: white;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}

section h2{
    padding: 10px; color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

section p{
    padding: 10px; color: black;
    font-size: 17px;
}

section button{
    margin: 10px;
    padding: 5px;
    background-color: antiquewhite;
    color: black;
}