div{
    border: 2px solid blue;
    background-color: orange;
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

div p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-emphasis-color: red;
    font-size: 25px;
    padding: 25px;
}